@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

a:link {
    text-decoration: none;
}

nav {
    text-align: right;
    font-family: 'Oswald', sans-serif;
}

.xplorevideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

section {
    text-align: center;
    position: relative;
    top: 25%;
}

footer {
    text-align: center;
    position: relative;
    top: 10%;
    display: block;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.0);
    transition: 1s;
    background-color:lightblue;
}

.container {
    padding: 2px 20px;
}

.column {
    float: left;
    width: 33%;
}

logo:hover {
    width: 300px;
}

.imageLesson5 {
    display: none;
}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: 7vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
        width: 100%;
        text-align: center;
    }

    nav {
        background: lightblue;
        margin-top: -5vw;
        margin-bottom: 1px;
        width: 102%;
        height: 15%;
        font-size: 3vw;
    }

    nav a {
        padding: -10vw;
        display: inline-block;
        text-align: right 50px;
    }

    .column {
        width: 100%;
        margin: 0 0 2vw;
        font-size: 10px;
    }

    ul {
        color: white;
        text-size-adjust: 10px;
        text-align: center;
    }

    .logo {
        margin-left: -2vw;
    }

    .dropbtn {
        padding: 16px;
        font-size: 16px;
        color: black;
    }

    .xplorevideo {
        display: none;
    }

    .imageLesson5 {
        display: block;
        position: fixed;
        right: 0px;
        bottom: 0px;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
}